.tela-interface-quizz{
    display:flex;
    justify-content: center;
    width: 100%;
}
.interface-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    
}
h4{
    margin-top:80px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 28px;
    color:#333;
    width: 100%;

}

.interface-pergunta{
    font-family: 'Merriweather', serif;
    width: 100%;
    padding: 20px;
    color: #fff;
    background:#6D8FB8;
    margin:15px 0px;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    
}

.interface-respostas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;

}
.interface-respostas li{
    width: calc(50% - 10px);
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    flex-shrink: 1;
}
.interface-respostas li div{
    position: absolute;
    background: #FFF;
    bottom:0;
    left:0;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(130, 130, 130, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:10px;
    color: rgb(95, 89, 89);
    font-weight: bold;
    font-size: 18px;
}

.interface-respostas li img{
    width: 100%;
    border-radius:5px;
}

.esconde-tela{
    display: none;
}

@media(max-width: 600px){
    .interface-quizz{
        width: 90%;
    }
    .interface-respostas li{
        width: 100%;
        height: 25%;
    }

}